numpy<2
jedi
simplejson
efficientnet_pytorch
kornia
imageio
loralib
einops
scikit-image
albumentations==1.3.0
dlib
imgaug
lmdb
tensorboard
scikit-learn
setuptools
wheel
torch
torchvision
opencv-python-headless
Pillow
matplotlib
pandas
tqdm
PyYAML
scipy
timm
transformers
ftfy
regex
open_clip_torch
imageio-ffmpeg
networkx
fvcore
iopath 
timm 
einops 
grad-cam 
albumentations 
scikit-image 
kornia 
yacs 
segmentation-models-pytorch 
jpegio
